
* {
  font-family: 'Comic Sans MS', cursive;
  font-size: 24px;
  color: #FF85A2; 
}

body {
  background-color: #FEFBEA;
  color: rgb(183, 183, 183);
}

h1 {
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
  color: #FF85A2; 
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: 'Quicksand', sans-serif;
  color: #FFB37D; 
  text-align: center;
}

h3 {
  font-size: 2em;
  font-family: 'Lobster', cursive;
  color: #b4c4ab; 
}

h1, h2, h3 {
  text-align: center;
}

img{
  padding: 5px;
  display: flex;
  margin: auto;
  border-top-right-radius: 30px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.edit_images, .edit_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.edit_images img, .edit_images img {
  border: rgb(247, 208, 208) 5px;
  padding: 5px;
  margin: 20px;
  border-radius: 10%;
}

.edit_images img:nth-child(3) {
  grid-column: span 1;
  width: 300px;
  margin: block;

}

p,span,li{
  line-height: 2;
}

nav {
  text-align: center;
}


nav li{
  display: inline-block;
  margin-right: 20px;


}
nav a{
  font-size: 0.6em;
  display: block;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 40px;
  background-color: rgb(231, 255, 234);
  color: rgb(125, 100, 125);
  
}
nav a:focus,nav a:hover{
  text-decoration: solid;
  border: solid 3px rgb(255, 255, 255);
}

#skip {
  position: absolute;
  left: -100px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

#skip:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

.current_page{
  color: beige;
  background-color: rgb(160, 226, 160);
}
span{
  display: block;
}

@media screen and (min-width: 680px) {
  *{
      background-color: rgb(255, 254, 254);
  }
}

img:hover{
  transform: scale(1.1);
}
@media (prefers-reduced-motion: reduce) {
  img[src$=".gif"] {
      display: none;
  }
}